[Unit]
Description=Patch PAM files for alternative passwords
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/patch-pam-alternative-passwords.py

[Install]
WantedBy=multi-user.target
